{
  "presets": [
    "react-native",
    "babel-preset-expo",
    "react-native-dotenv",
    "babel-preset-react-native-stage-0"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
